<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <header>
      <ul>
        <li>
          <a href="/admin/add-product">Add Product</a>
        </li>
        <li><a href="/">Homepage</a></li>
      </ul>
    </header>
    <main>
      <form action="/admin/add-product" method="POST">
        <input type="text" placeholder="product" name="product" />
        <button type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>
